{% extends "root/new.html.j2" %}

{% block title %}
    Create A Tag
{% endblock title %}

{% block inputs %}
    <input type="text" name="name" placeholder="Enter a name for the tag">
{% endblock inputs %}



