{% extends "root/base.html.j2" %}

{% block title %}
    {{post.title}}
{% endblock title %}

{% block body %}
    <div class="container">
        <h2>{{post.title}}</h2>
        <sub class="mb-5">Created {{post.created_at}} by <a href="/users/{{user_id}}">{{user.full_name}}</a></sub>
        {% if post.updated_at %}
            <sub class="mb-5">{{post.updated_at}}</sub>
        {% endif %}
        <p class="mt-5">{{post.content}}</p>
        <h4>Tags:
        {% for tag in post.tags %}
            <h6 class="badge bg-primary"><a href="/tags/{{tag.id}}">{{tag.name}}</a></h6>
        {% endfor %}
        
        </h4>

        
        {% endfor %}<h6 class="badge bg-primary"></h6>
    </div>

    <a href="/posts/{{post.id}}/edit" class="btn btn-secondary">Edit</a>
    <a href="/posts/{{post.id}}/delete" class="btn btn-danger">Delete</a>
    
{% endblock body %}