{% extends "root/get.html.j2" %}

{% block title %}
    {{post.title}}
{% endblock title %}

{% block body %}
    <div class="container">
        <h2>{{post.title}}</h2>
        <sub class="mb-5">Created {{post.created_at}} by <a href="/users/{{post.user_id}}">{{post.user.full_name}}</a></sub>
        {% if post.updated_at %}
            <sub class="mb-5"> -- Updated {{post.updated_at}}</sub>
        {% endif %}
        <p class="mt-5">{{post.content}}</p>
        <h4>Tags:
            {% for tag in post.tags %}
                <h6><a href="/tags/{{tag.id}}" class="badge bg-primary">{{tag.name}}</a></h6>
            {% endfor %}
        </h4>
    </div>
{% endblock body %}