{% extends "root/base.html.j2" %}

{% block title %}
    Last 5 Posts
{% endblock title %}

{% block body %}
    <div class="column">
        {% for post in posts %}
            <div class="row">
                </a><h2 class="mb-1s"><a href="/posts/{{post.id}}">{{post.title}}</a></h2>
                <sub>
                Posted by <a href="/users/{{post.user_id}}">{{post.user.full_name}}</a> on {{post.created_at}} 
                {% if  post.updated_at%}
                     -- Updated at {post.updated_at}
                {% endif %}
                </sub>
            </div>
        {% endfor %}
    </div>
{% endblock body %}

{% block back %}
    <a href="/users" class="btn btn-primary">View Users</a>
    <a href="/tags" class="btn btn-primary">View Tags</a>
{% endblock back %}