{% extends "root/base.html.j2" %}

{% block title %}
    New Post
{% endblock title %}

{% block body %}
<div class="container">
    <form action="/posts/new/{{user.id}}" method="POST">
        <div class="row">
            <input type="text" name="title" placeholder="Title">
        </div>
        <div class="row">
            <input type="textarea" name="content" placeholder="Content">
        </div>
        <div class="row">
            <input type="submit" class=" col btn btn-success" value="Add">
            <a href="{{back}}" class="col btn btn-danger">Cancel</a>
        </div>
    </form>
</div>

{% endblock body %}