{% extends "root/new.html.j2" %}

{% block title %}
    New Post
{% endblock title %}

{% block inputs %}
    <input type="text" name="title" placeholder="Title">
    <input type="textarea" name="content" placeholder="Content">
    {% for tag in tags %}

        <div>
            <input type="checkbox" name="tags" id="tag{{tag.id}}" value="{{tag.name}}">
            <label for="tag{{tag.id}}">{{tag.name}}</label>
        </div>
        
    {% endfor %}
{% endblock inputs %}