{% extends "root/base.html.j2" %}

{% block title %}
WHOAH THERE! Let's just... chill out maaaaaaan...
{% endblock title %}

{% block body %}
    <p>The page you're trying to access doesn't exist! Curious isn't it?</p>

    <p>{{error}}</p>

    <p>Head back with one of the following links</p>
    
{% endblock body %}