{% block title %}
WHOAH THERE! Let's just... chill out maaaaaaan...
{% endblock title %}

{% block body %}
    <p>The page you're trying to access doesn't exist! Curious isn't it?</p>

    <p>{{error}}</p>

    <a href="/users" class="btn btn-success">How about we head back together?</a>
    
{% endblock body %}