{% block title %}
WHOAH THERE! Let's just... chill out maaaaaaan...
{% endblock title %}

{% block body %}
    <p>The page you're trying to access doesn't exist! Curious isn't it?</p>

    <p>{{error}}</p>
    
{% endblock body %}

{% block back %}{% endblock back %}