{% extends "base.html.j2" %}

{% block title %}
Blogly
{% endblock title %} 

{% block body %}
<div class="container">
    <button><a href="/users">View Users</a></button>
    <button><a href="/new_user">Add a User</a></button>
</div>
{% endblock body %}
