{% extends "root/base.html.j2" %}

{% block title %}
    New Post
{% endblock title %}

{% block body %}
<div class="container">
    <form action="/users/{{user.id}}/posts/new" method="POST">
        <div class="row">
            <input type="text" name="title" placeholder="Title">
        </div>
        <div class="row">
            <input type="textarea" name="content" placeholder="Content">
        </div>
        <div class="row">
            <input type="submit" class="btn btn-success">
        </div>
    </form>
</div>

{% endblock body %}