{% extends "root/edit.html.j2" %}

{% block title %}
Edit User {{user.full_name}}
{% endblock title %}

{% block inputs %}
    <input type="text" name="first_name" value="{{user.first_name}}">
    <input type="text" name="last_name" value="{{user.last_name}}">
    <input type="text" name="image_url" value="{{user.image_url}}">
{% endblock inputs %}


