{% extends "root/get.html.j2" %}

{% block title %}
    {{user.full_name}} <a href="/posts/new/{{user.id}}" class="btn btn-success">Add Post</a>
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            <img src="{{user.image_url}}" alt="User Profile Image" class="col-3">
        </div>
        <div class="row">
            <ul>
                {% for post in user.posts %}
                    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock body %}