{% extends "root/list.html.j2" %}
{% block title %}
Users <a href="/users/new" class="btn btn-success">Add User</a>
{% endblock title %}Users

{% block body %}
    <ul>
        {% for user in users %}
            <li><a href="/users/{{user.id}}">{{user.full_name}}</a></li>
        {% endfor %}
    </ul>
    
{% endblock body %}
