{% extends "root/new.html.j2" %}

{% block title %}
    New User
{% endblock title %}

{% block inputs %}
        <input type="text" name="first_name" placeholder="first name">
        <input type="text" name="last_name" placeholder="last name">
        <input type="text" name="image_url" placeholder="Profile picture URL">
{% endblock inputs %}