{% extends "root/base.html.j2" %}

{% block title %}
    {{user.full_name}}
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            <img src="{{user.image_url}}" alt="User Profile Image" class="col-3">
            <div class="col">
                <a href="/users/{{user.id}}/edit" class="btn btn-secondary col">Edit</a>
                <a href="/users/{{user.id}}/delete" class="btn btn-danger col">Delete</a>
                <a href="/users/{{user.id}}/posts/new" class="btn btn-primary">New Post</a>
            </div>
        </div>
        <div class="row">
            <ul>
                {% for post in user.posts %}
                    <li><a href="/users/{{user.id}}/posts/{{post.id}}">{{post.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock body %}