{% extends "root/base.html.j2" %}

{% block title %}
    User
{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <img src="{{user.image_url}}" alt="User Profile Image" class="col">
        <h3>{{user.full_name}}</h3>
        <div class="col">
            <a href="/users/{{user.id}}/edit" class="btn btn-secondary">Edit</a>
            <a href="/users/{{user.id}}/delete" class="btn btn-danger">Delete</a>
            <a href="/users" class="btn btn-success">Back</a>
        </div>
    </div>  
    <div class="row">
        <ul class="col">
            {% for post in user.posts %}
                <li><a href="/user/{{user.id}}/posts/{{post.id}}">{{post.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <a href="/user/{{user.id}}/posts/new" class="btn btn-primary">New Post</a>
</div>

    

{% endblock body %} 